#assesInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 10px;
}

#assesInfo input{
    background-color: white; /* Set the background color to white */
    border: 1px solid #ddd; /* Add a subtle border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Add some padding inside the input */
    width: 100%; /* Make the input take up the full width of its container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 10px; /* Add some space between inputs */
}
#mandatory{
    display: none;
}

#infoSubmit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#output{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#outputTable{
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    text-align: center;
}

#unamehead, #anamehead, #duehead, #weighthead{
    width: 30rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}