#assesInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 10px;
}
#mandatory{
    display: none;
}

#infoSubmit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#output{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#outputTable{
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    text-align: center;
}

#unamehead, #anamehead, #duehead, #weighthead{
    width: 30rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}