body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 108, 133);
}

.with-text {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: white;
}

.profile h4 {
    text-align: center;
    color: white;
}

.profile-image {
    width: 250px;
    border-radius: 80%;
}

main.table {
    width: 90vh;
    height: 30vh;
    margin-top: 6vh;

    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

#profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 5rem;
}

.table_body table {
    border-collapse: separate;
    border-spacing: 0 20px;
    padding-left: 3rem;
}

.stats{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.descriptor {
    width: 60%;
}

.card {
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 180px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}

.circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #ffb6b6;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #840000;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #d00000;
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }